*{
    padding: 0;
    margin: 0;
}

#register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(lightcoral, rgb(191, 43, 191));
}
#register-container fieldset{
    padding: 30px;
    border-radius: 20px;

    background-color: rgba(255, 228, 196, 0.783);
}
#register-container label{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
#register-container label::after{
    content: " *";
    color: red;
}
#register-container input{
    padding: 7px 10px;
    margin-left: 10px;
}
#register-container button{
    padding: 10px 30px;
    margin: 10px;
    background-color: peachpuff;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 5px black;
}
#register-container h1{
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 5px 5px 5px aliceblue;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}